<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>ASFWDriverService</key>
		<dict>
			<key>ASFWDriverUserClientProperties</key>
			<dict>
				<key>IOClass</key>
				<string>IOUserUserClient</string>
				<key>IOUserClass</key>
				<string>ASFWDriverUserClient</string>
			</dict>
			<key>ASFWAudioNubProperties</key>
			<dict>
				<key>IOClass</key>
				<string>IOUserService</string>
				<key>IOUserClass</key>
				<string>ASFWAudioNub</string>
				<key>ASFWNubType</key>
				<string>Audio</string>
			</dict>
			<key>ASFWTraceDMACoherency</key>
			<false/>
			<key>ASFWAsyncVerbosity</key>
			<integer>1</integer>
			<key>ASFWControllerVerbosity</key>
			<integer>1</integer>
			<key>ASFWHardwareVerbosity</key>
			<integer>1</integer>
				<key>ASFWEnableHexDumps</key>
				<false/>
				<key>ASFWEnableIsochTxVerifier</key>
				<false/>
				<key>ASFWAutoStartAudioStreams</key>
				<true/>
				<key>ASFWLogStatistics</key>
				<true/>
			<key>CFBundleIdentifier</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>IOClass</key>
			<string>IOUserService</string>
			<key>IOPCIMatch</key>
			<string>0x590111c1</string>
			<key>IOPCITunnelCompatible</key>
			<true/>
			<key>IOProbeScore</key>
			<integer>65530</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOUserClass</key>
			<string>ASFWDriver</string>
			<key>IOUserServerName</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		</dict>
		<key>ASFWAudioDriverService</key>
		<dict>
			<key>IOUserAudioDriverUserClientProperties</key>
			<dict>
				<key>IOClass</key>
				<string>IOUserUserClient</string>
				<key>IOUserClass</key>
				<string>IOUserAudioDriverUserClient</string>
			</dict>
			<key>CFBundleIdentifier</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>IOClass</key>
			<string>IOUserService</string>
			<key>IOProviderClass</key>
			<string>IOUserService</string>
			<key>IOPropertyMatch</key>
			<dict>
				<key>ASFWNubType</key>
				<string>Audio</string>
			</dict>
			<key>IOUserClass</key>
			<string>ASFWAudioDriver</string>
			<key>IOUserServerName</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		</dict>
	</dict>
	<key>OSBundleUsageDescription</key>
	<string>AS FireWire Driver</string>
</dict>
</plist>
